gis-foundation-ed-ederinterface-Main-O-M/PGE_ProjectOutput/Desktop/XML/GraphicsFavorites.dtd

<!ELEMENT CU_TYPE (DESCRIPTION?, CU_TYPE*, GRAPHIC_ELEMENT*)>
<!ATTLIST CU_TYPE
	ProgID CDATA "mmFramework.D8CuType"
	CUType (CUSystem | CUCustomSystem ) #IMPLIED
	Owner (System | User) "System"
>
<!ELEMENT DESCRIPTION (#PCDATA)>
<!ELEMENT GRAPHIC_ELEMENT (NAME, MIME, PICTURE)>
<!ATTLIST GRAPHIC_ELEMENT
	ProgID CDATA "mmFrameworkUI.MMGraphicFavorite.1"
>
<!ELEMENT NAME (#PCDATA)>
<!ELEMENT MIME (#PCDATA)>
<!ELEMENT PICTURE (#PCDATA)>
