gis-foundation-ed-ederinterface-Main-O-M/PGE_ProjectOutput/Desktop/XML/LayoutData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="LayoutData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SystemData" minOccurs="0"/>
				<xs:element ref="MainWindow"/>
				<xs:element ref="DialogBoxes" minOccurs="0"/>
				<xs:element ref="RemoveObjects" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="layoutFormat" type="xs:int" use="required"/>
			<xs:attribute name="lockLayout" type="xs:boolean" use="optional"/>
			<xs:attribute name="noSaveMdiWindows" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SystemData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Extensions" minOccurs="0"/>
				<xs:element ref="Licenses" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Extensions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Extension" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Extension">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Dependencies" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="progIDorGUID" type="xs:string" use="required"/>
			<xs:attribute name="required" type="xs:boolean" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="Dependencies">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Requires" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Requires">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>		  
		</xs:complexType>	   
	</xs:element>
	<xs:element name="Licenses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="License" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="License">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MainWindow">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommandManager" minOccurs="0"/>
				<xs:element ref="DockManager" minOccurs="0"/>
				<xs:element ref="MdiTabManager" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="left" type="xs:short" use="optional"/>
			<xs:attribute name="top" type="xs:short" use="optional"/>
			<xs:attribute name="width" type="xs:short" use="optional"/>
			<xs:attribute name="height" type="xs:short" use="optional"/>
			<xs:attribute name="normalState" type="xs:short" use="optional"/>
			<xs:attribute name="normalPrevious" type="xs:short" use="optional"/>
		</xs:complexType>
	</xs:element>
	<!-- ********* COMMAND MANAGER ***************** -->
	<xs:element name="CommandManager">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Commands" minOccurs="0"/>
				<xs:element ref="CommandBars" minOccurs="0"/>
				<xs:element ref="OptionSets" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="mdiWindowMenuKey" type="xs:string" use="optional"/>
			<xs:attribute name="dockWindowMenuKey" type="xs:string" use="optional"/>
			<xs:attribute name="lockCommandBars" type="xs:boolean" use="optional"/>
			<xs:attribute name="showFullMenus" type="xs:boolean" use="optional"/>
			<xs:attribute name="showFullMenusDelay" type="xs:short" use="optional"/>
			<xs:attribute name="useLargeImagesOnMenus" type="xs:boolean" use="optional"/>
			<xs:attribute name="useLargeImagesOnCommandBars" type="xs:boolean" use="optional"/>
			<xs:attribute name="showFontNamesInFont" type="xs:boolean" use="optional"/>
			<xs:attribute name="showToolTips" type="xs:boolean" use="optional"/>
			<xs:attribute name="showShortcutsInToolTips" type="xs:boolean" use="optional"/>
			<xs:attribute name="menuAnimationStyle" type="MenuAnimationStyle" use="optional"/>
			<xs:attribute name="floatingCommandBarFadeDelay" type="xs:int" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Commands">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Command" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Command">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="CommandItems" minOccurs="0"/>
				<xs:element ref="PersistedData" minOccurs="0"/>
				<xs:element ref="CreateData" minOccurs="0"/>
			</xs:choice>
			<xs:attribute name="key" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="shortcut" type="xs:string" use="optional"/>
			<xs:attribute name="customShortcut" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommandItems">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommandItem" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommandItem">
		<xs:complexType>
			<xs:attribute name="key" type="xs:string" use="required"/>
			<xs:attribute name="firstInGroup" type="xs:boolean" use="optional" default="false"/>
			<xs:attribute name="recentlyUsed" type="xs:boolean" use="optional" default="true"/>
			<xs:attribute name="visible" type="xs:boolean" use="optional" default="true"/>
			<xs:attribute name="customizedVisible" type="xs:boolean" use="optional" default="true"/>
			<xs:attribute name="width" type="xs:int" use="optional"/>
			<xs:attribute name="displayStyle" type="DisplayStyle" use="optional"/>
			<xs:attribute name="caption" type="xs:string" use="optional"/>
			<xs:attribute name="locateBefore" type="xs:string" use="optional"/>
			<xs:attribute name="customCaption" type="xs:string" use="optional"/>
			<xs:attribute name="customDisplayStyle" type="DisplayStyle" use="optional"/>
			<xs:attribute name="customIsFirstInGroup" type="DefaultBoolean" use="optional"/>
			<xs:attribute name="customRecentlyUsed" type="DefaultBoolean" use="optional"/>
			<xs:attribute name="customVisible" type="DefaultBoolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PersistedData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Item" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Item">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreateData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Param" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Param">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommandBars">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommandBar" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommandBar">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommandItems"/>
				<xs:element ref="PersistedData" minOccurs="0"/>
				<xs:element ref="CreateData" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="key" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="text" type="xs:string" use="optional"/>
			<xs:attribute name="dockedRow" type="xs:int" use="optional"/>
			<xs:attribute name="dockedColumn" type="xs:int" use="optional"/>
			<xs:attribute name="dockedPosition" type="DockedPosition" use="optional"/>
			<xs:attribute name="targetPosition" type="xs:int" use="optional"/>
			<xs:attribute name="floatingLocationX" type="xs:int" use="optional"/>
			<xs:attribute name="floatingLocationY" type="xs:int" use="optional"/>
			<xs:attribute name="floatingWidth" type="xs:int" use="optional"/>
			<xs:attribute name="floatingHeight" type="xs:int" use="optional"/>
			<xs:attribute name="visible" type="xs:boolean" use="optional"/>
			<xs:attribute name="isMainMenu" type="xs:boolean" use="optional" default="false"/>
			<xs:attribute name="isCustomCommandBar" type="xs:boolean" use="optional" default="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OptionSets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OptionSet" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OptionSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OptionItems"/>
			</xs:sequence>
			<xs:attribute name="key" type="xs:string" use="required"/>
			<xs:attribute name="allowAllUp" type="xs:boolean" use="optional" default="true"/>
			<xs:attribute name="selectedToolKey" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OptionItems">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OptionItem" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OptionItem">
		<xs:complexType>
			<xs:attribute name="key" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<!-- ****************** DOCK MANAGER *********************** -->
	<xs:element name="DockManager">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DockAreas" minOccurs="0"/>
				<xs:element ref="DockInserts" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="activeDockControl" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DockAreas">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DockArea" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DockArea">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="DockGroupPaneLayout">
					<xs:attribute name="dockedLocation" type="DockedLocation" use="required"/>
					<xs:attribute name="isVisible" type="xs:boolean" use="optional"/>
					<xs:attribute name="floatingLocationX" type="xs:int" use="optional"/>
					<xs:attribute name="floatingLocationY" type="xs:int" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="DockGroupPaneLayout">
		<xs:complexContent>
			<xs:extension base="DockBasePaneLayout">
				<xs:sequence>
					<xs:element ref="Panes" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="key" type="xs:string" use="optional"/>
				<xs:attribute name="childPaneStyle" type="ChildPaneStyle"/>
				<xs:attribute name="selectedTab" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DockControlPaneLayout">
		<xs:complexContent>
			<xs:extension base="DockBasePaneLayout">
				<xs:sequence>
					<xs:element name="DockedControl" type="WindowLayout"/>
				</xs:sequence>
				<xs:attribute name="key" type="xs:string"/>
				<xs:attribute name="isVisible" type="xs:boolean" use="optional"/>
				<xs:attribute name="isPinned" type="xs:boolean" use="optional"/>
				<xs:attribute name="flyoutSizeX" type="xs:int" use="optional"/>
				<xs:attribute name="flyoutSizeY" type="xs:int" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DockBasePaneLayout">
		<xs:attribute name="width" type="xs:int"/>
		<xs:attribute name="height" type="xs:int"/>
	</xs:complexType>
	<xs:element name="DockInserts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="InsertDockControl" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InsertDockControl">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CreateData" minOccurs="0"/>
				<xs:element ref="PersistedData" minOccurs="0"/>
				<xs:element ref="Controls" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="locateBy" type="xs:string" use="optional"/>
			<xs:attribute name="insertBefore" type="xs:boolean" use="optional"/>
			<xs:attribute name="width" type="xs:int"/>
			<xs:attribute name="height" type="xs:int"/>
			<xs:attribute name="key" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="isVisible" type="xs:boolean" use="optional"/>
			<xs:attribute name="isPinned" type="xs:boolean" use="optional"/>
			<xs:attribute name="flyoutSizeX" type="xs:int" use="optional"/>
			<xs:attribute name="flyoutSizeY" type="xs:int" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Panes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Pane" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Pane" type="DockBasePaneLayout"/>
	<!-- *************** MDI TAB MANAGER ******************* -->
	<xs:element name="MdiTabManager">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MdiTabGroups" minOccurs="0"/>
				<xs:element ref="HiddenTabs" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="orientation" type="Orientation" use="optional"/>
			<xs:attribute name="activeTab" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MdiTabGroups">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MdiTabGroup" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MdiTabGroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MdiTabs"/>
			</xs:sequence>
			<xs:attribute name="key" type="xs:string" use="optional"/>
			<xs:attribute name="extent" type="xs:int" use="optional"/>
			<xs:attribute name="firstDisplayed" type="xs:string" use="optional"/>
			<xs:attribute name="selectedTab" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MdiTabs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MdiTab" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MdiTab">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MdiWindow" type="WindowLayout"/>
			</xs:sequence>
			<xs:attribute name="key" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="HiddenTabs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MdiTab" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="WindowLayout">
		<xs:sequence>
			<xs:element ref="CreateData" minOccurs="0"/>
			<xs:element ref="PersistedData" minOccurs="0"/>
			<xs:element ref="Controls" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="Controls">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Control" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Control">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PersistedData" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<!-- **************** POPUP DIALOG BOXES ****************** -->
	<xs:element name="DialogBoxes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DialogBox" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DialogBox">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PersistedData" minOccurs="0"/>
				<xs:element ref="Controls" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="key" type="xs:string" use="required"/>
			<xs:attribute name="left" type="xs:int" use="required"/>
			<xs:attribute name="top" type="xs:int" use="required"/>
			<xs:attribute name="width" type="xs:int" use="required"/>
			<xs:attribute name="height" type="xs:int" use="required"/>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<!-- **************** REMOVE OBJECTS ****************** -->
	<xs:element name="RemoveObjects">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RemoveObject" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RemoveObject">
		<xs:complexType>
			<xs:attribute name="objectType" type="RemoveType" use="required"/>
			<xs:attribute name="key" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<!-- ****************** ENUMERATIONS ******************* -->
	<xs:simpleType name="MenuAnimationStyle">
		<xs:restriction base="xs:string">
			<xs:enumeration value="None"/>
			<xs:enumeration value="Random"/>
			<xs:enumeration value="Unfold"/>
			<xs:enumeration value="Slide"/>
			<xs:enumeration value="Fade"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DockedLocation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Floating"/>
			<xs:enumeration value="DockedLeft"/>
			<xs:enumeration value="DockedRight"/>
			<xs:enumeration value="DockedTop"/>
			<xs:enumeration value="DockedBottom"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DockedPosition">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Top"/>
			<xs:enumeration value="Bottom"/>
			<xs:enumeration value="Left"/>
			<xs:enumeration value="Right"/>
			<xs:enumeration value="Floating"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ChildPaneStyle">
		<xs:restriction base="xs:string">
			<xs:enumeration value="VerticalSplit"/>
			<xs:enumeration value="HorizontalSplit"/>
			<xs:enumeration value="TabGroup"/>
			<xs:enumeration value="SlidingGroup"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DisplayStyle">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Default"/>
			<xs:enumeration value="DefaultForCommandType"/>
			<xs:enumeration value="TextOnlyAlways"/>
			<xs:enumeration value="TextOnlyInMenus"/>
			<xs:enumeration value="ImageAndText"/>
			<xs:enumeration value="ImageOnlyOnToolBars"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Orientation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Horizontal"/>
			<xs:enumeration value="Vertical"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RemoveType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Command"/>
			<xs:enumeration value="CommandBar"/>
			<xs:enumeration value="MdiWindow"/>
			<xs:enumeration value="DockControl"/>
			<xs:enumeration value="DialogBox"/>
			<xs:enumeration value="Extension"/>
			<xs:enumeration value="License"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DefaultBoolean">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Default"/>
			<xs:enumeration value="True"/>
			<xs:enumeration value="False"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
