gis-foundation-ed-ederinterface-Main-O-M/PGE_ProjectOutput/Desktop/XML/modelnames.dtd

<!--This is the DTD file used by ArcCatalog XML import/export to export modelnames-->
<!ELEMENT MODELNAMES (IEPROGID, OBJECTCLASSNAME?, OBJECT?, CLASSNAMES?, FIELDNAMES?, DATABASE?)>
<!ELEMENT OBJECTCLASSNAME (#PCDATA)>
<!ELEMENT CLASSNAMES (NAME, MODELNAME)*>
<!ELEMENT FIELDNAMES (NAME, MODELNAME)*>
<!ELEMENT DATABASE (MODELNAME)*>
<!ELEMENT NAME (#PCDATA)>
<!ELEMENT MODELNAME (#PCDATA)>
