gis-foundation-ed-ederinterface-Main-O-M/PGE_ProjectOutput/Desktop/XML/ObjectInfo.dtd

<!--This is the DTD file used by ArcCatalog XML import/export to export Object Class Info-->

<!ELEMENT OBJECTCLASSINFO (IEPROGID, OBJCLASSNAME, OBJCLASSIDNAME?, OBJCLASSID, OBJCLASSEXTENSIONNAME?, OBJCLASSEXTENSION?)>
        <!ELEMENT OBJCLASSNAME (#PCDATA)>
	<!ELEMENT OBJCLASSIDNAME (#PCDATA)>
	<!ELEMENT OBJCLASSID (#PCDATA)>
	<!ELEMENT OBJCLASSEXTENSIONNAME (#PCDATA)>
	<!ELEMENT OBJCLASSEXTENSION (#PCDATA)>
